.back-btn {
  width: 90%;
  margin: 0 1%;
  padding: 8px 14px;
  background: #eee;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
}

.main-container {
  width: 90%;
  margin: 0 5% 1% 5%;
  background: #eee;
  padding-bottom: 0.5%;
}

/* Hero Section */
.meal-hero {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 25px;
}

.meal-hero-img {
  width: 96%;
  height: 100%;
  object-fit: cover;
  margin: 0 2%;
}

.meal-hero-info {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
}

.meal-hero-info h1 {
  font-size: 2.2rem;
  margin-bottom: 8px;
}

.badge {
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 50px;
  margin-right: 8px;
}

/* Layout */
.meal-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  padding: 20px 0;
}

.randomHeader{
  margin-left: 0;
  padding-left: 2%;
}

.instructions h2,
.ingredients h2 {
  margin-bottom: 12px;
}

.instructions p {
  line-height: 1.6;
  white-space: pre-line;
}

.ingredients ul {
  list-style: none;
  padding-left: 0;
}

.ingredients li {
  background: #fff8ea;
  border-left: 4px solid #ffa726;
  padding: 6px 10px;
  margin: 6px 0;
  border-radius: 6px;
}

.ingredients{
  width: 90%;
}

/* Video */
.video-wrapper {
  margin: 0 2% 25px 2%;
  border-radius: 12px;
  overflow: hidden;
  /* margin-left: 2%;
  margin-right: 2%; */
}

/* Responsive Layout */
@media (max-width: 768px) {
  .meal-content {
    grid-template-columns: 1fr;
  }
}